body {
    position: absolute;
    top: 0px;
    transition: top 1s;

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow: hidden;
}

body.moved {
    top: -100vh;

    overflow: auto;
}