hexagon {
    .top {
        width: 0;
        border-style: solid;
        border-color: transparent;
        border-bottom-color: red;
    }

    .middle {
        background-color: red;
    }

    .bottom {
        width: 0;
        border-style: solid;
        border-color: transparent;
        border-top-color: red;
    }
}